---
import MySiteLayout from '../../layouts/en/MySiteLayout.astro';
---

<head>
  <title>PuffinSitess.org</title>
  <meta name="description" content="Descripción del sitio PuffinSitess.org">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="/favicon.ico">
</head>
<MySiteLayout title="PuffinSitess.org">
  <div class="max-w-5xl mx-auto px-8 pb-20">
		<div class="flex items-center justify-center">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint, impedit atque. Unde deserunt dolore doloremque debitis alias eum aperiam, atque commodi nobis nemo voluptatibus odit? Quod amet voluptatem nobis necessitatibus?</p>
	  </div>
  </div>
</MySiteLayout>