---
import { languages } from '../i18n/ui';
import { getLangFromUrl } from '../i18n/utils';

const langURL = getLangFromUrl(Astro.url);
const currentPath = Astro.url.pathname;
---
<div class="float-right p-5">
  {Object.entries(languages).filter((lan) => lan[0] != langURL).map(([lang, label]) => (
    <a href={`/${lang}${currentPath.replace("/"+langURL, "")}`}><img class="" src={`/img/${lang}.png`} alt={`${label}`}></a>
  ))}
</div>