---
import BaseHead from '../../components/en/BaseHead.astro';
import Footer from '../../components/en/Footer.astro';
import { ViewTransitions } from 'astro:transitions';
const { title } = Astro.props;
---
<html lang="es">
  <head>
    <title>PuffinSitess.org</title>
    <ViewTransitions />
    <meta name="description" content="Descripción del sitio PuffinSitess.org">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/favicon.svg" type="image/svg+xml">
  </head>
  <BaseHead title={title} />
  <body>
    <article>
      <slot /> <!-- tu contenido es inyectado aquí -->
    </article>
    <Footer />
  </body>
  <style>
    h1 {
      font-size: 2rem;
    }
  </style>
</html>